.slideshow, .slideshow img{
	height:288px;
	width:800px;
        border-radius:12px;
}
.slideshow{
	margin:auto;
	border:solid 4px #999999;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0px 10px 5px #333333;
	-webkit-box-shadow: 0px 10px 5px #333333;
	box-shadow: 0px 10px 5px #333333;
	background-color:#FFF;
}
.slideshow2, .slideshow2 img{
	width:575px;
	height:340px;
}
.slideshow2{
	margin:auto;
	border:15px solid #013938;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	margin-top:60px;
}